# Application Configuration
BASE_URL="http://localhost:8000"
APP_NAME="Banalyze Backend"
LOG_LEVEL="info"
PORT=8000
RELOAD=true
ENV="development"


# Database Configuration
DB_CONNECTION=pgsql
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=postgres
DB_USER=your-db-username
DB_PASSWORD=your-db-password

# JWT Configuration
JWT_SECRET_KEY="your_super_secret"
JWT_REFRESH_SECRET_KEY="your_refresh_secret"
JWT_ALGORITHM="HS256"

# Redis Configuration
REDIS_URL="redis://:<password>@localhost:6379/0"

# Storage Configuration
STORAGE_BACKEND="local"  # "local" or "supabase"

# Supabase Configuration
SUPABASE_URL="https://your-supabase-url.supabase.co"
SUPABASE_KEY="your-supabase-key"
SUPABASE_BUCKET="your-supabase-bucket"